.BgNav {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: "center";
}

.pg-height {
  position: absolute;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
